.buttonFig{
    width: 166px;
    height: 166px;
}

.buttonFig:hover{
    border: 5px solid yellow;
    transition: .2s;
    cursor: pointer;
}

.buttonFig-text {
    display: none;
}

.buttonFig-text-active {
    display: block;
}